.loadingBlock {
  background-image: linear-gradient(
    90deg,
    #D8EDE9 25%,
    #BFE4DB 37%,
    #D8EDE9 63%
  );
  background-size: 400% 100%;
  animation: loading 1.4s infinite;
}

.loadingPureBlock {
  background: #BDC7C3;
  border-radius: 2px;
  animation: pure-loading 1.4s infinite;
}


@keyframes pure-loading {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.3;
  }
}


@keyframes loading {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
